{% extends "base.html" %}

{% block content %}
<div class="container mt-2">

     <div class="row">
          {% include 'includes/dashboard_sidebar.html' %}
          <div class="col-md-9">
               <div class="container  card pb-3 mb-3">
                    Email: {{request.user}} <br>
                    First Name: {{request.user.first_name}} <br> 
                    Last Name: {{request.user.last_name}} <br>
                    <br>
                    <h5>Update:</h5>
                    <div class="container">

                         <form method="post" enctype="multipart/form-data" id="postForm">
                              {% csrf_token %}
                              {{ form }}
                              <br>
                              <button class="btn btn-primary mt-3" type="submit">
                                   Update User profile
                              </button>
                         </form>
                    </div>
                    <div class="container card mt-4 p-3">
                         <div class="row">
                              <div class="col">
                                   Total Created Events: <b>{{events}}</b> 
                              </div>
                              <div class="col">
                                   Total Registered Events: <b>{{register_events}}</b>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </div>
</div>

{% endblock content %}