<nav class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand " href="/">
      <h2>Event Registration System</h2>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form hx-get="{% url 'searchEvent' %}" method="GET" class="d-flex" hx-target="body" role="search">
      <input class="form-control me-2" type="search" name="keyword" placeholder="Search Event" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto ">
        <li class="nav-item">
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'createEvent' %}">
            <div class="btn btn-primary">Create Event</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'event_list' %}">
            <div class="btn btn-info">All Events</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
            <div class="btn btn-secondary">Dashboard</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
            <div class="btn btn-danger">Logout</div>
          </a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
            <div class="btn btn-success">Login</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'register' %}">
            <div class="btn btn-outline-success">Register</div>
          </a>
        </li>

        {% endif %}

      </ul>
    </div>
  </div>
</nav>