{% extends 'base.html' %}

{% block content %}
<div class="container">
     <h1>Latest Events:</h1>
     <div class="row">
          {% for event in events %}
          <div class="col">
               <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                         <h2 class="card-title">{{ event.title }}</h2>
                         <p class="card-text">{{ event.description |truncatewords:20}}</p>
                         <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">View</a>

                    </div>
               </div>
          </div>
          {% endfor %}
     </div>
</div>
{% endblock content %}